.main-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav--footer {
  justify-content: space-between;
  max-width: 100%;
}

.main-nav__item--header {
  width: 100%;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}

.main-nav__item--footer {
  width: auto;
  padding: 10px;
}

.main-nav__item-link {
  font-family: @geometria-font;
  color: @color-black;
  opacity: 0.5;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__item {
    margin-right: 20px;
    width: auto;
    padding: 0;
  }

  .main-nav--footer {
    justify-content: unset;
  }

  .main-nav__item-link {
    font-size: 18px;
    line-height: 40px;
  }

  .main-nav__item--footer {
    margin-right: 20px;
    width: auto;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {}
