.page-footer {
  min-height: 300px;
  padding-bottom: 40px;
  padding-top: 40px;
  box-sizing: border-box;
}

.page-footer__nav-block {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.page-footer__contacts {
  margin: 0 145px 0 0;
}

.page-footer__contacts-tel {
  font-family: @geometria-font;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: @color-black;
}

.contacts-n-logo__logo {
  margin-right: 11%;
}

.page-footer__contacts-info {
  font-family: @geometria-font;
  font-size: 14px;
  line-height: 18px;
  color: @color-black;
  opacity: 0.5;
}

.page-footer__socials-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.page-footer__socials {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.socials__application-list {
  display: flex;
}

.socials__application-list-item {
  margin-right: 10px;
}

.socials__application-list-item:last-of-type {
  margin-right: 0;
}

.socials__networks-list {
  display: flex;
}

.socials__networks-list-item {
  margin-right: 10px;
}

.socials__networks-list-item:last-of-type {
  margin-right: 0;
}
