.page-tags {
  text-align: center;
}

.page-tags--padding-top {
  padding-top: 70px;
}

.page-tags__link {
  font-family: @geometria-font;
  color: @color-black;
  opacity: 0.5;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  position: relative;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.9;
  }

  &:nth-of-type(odd) {
    margin-right: 15px;
  }

  &:nth-of-type(odd)::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: @color-black;
    opacity: 0.5;
    top: 8px;
    right: -9px;
  }
}
