@min-width: 320px;
@mobile-width: 320px;
@tablet-width: 768px;
@pre-desktop-width: 1000px;
@desktop-width: 1050px;
@desktop-width-plus: 1440px;
@max-width: 1900px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@color-black: #000000;
@color-white: #ffffff;
@color-green: #00D36D;
@color-grey: #F2F4F7;


@geometria-font: ;

@list-reset: ;
@link-reset: ;
